ion-view( title="Home" )
  ion-header-bar( align-title="left" )
    .buttons( menu-toggle="left" )
      button.button.button-clear.back-button
        i.icon.ion-navicon-round
    h1.title Home

  ion-content.padding
    p Hello world
